{{ define "main" }}
<!-- 注意 define main必须卸载第一行才有效，不明白原因 -->
<!-- 具体某一分类对应模板  /categories/技术 -->
  <div class="pattern-center-blank"></div>
  <div class="pattern-center">
    <div class="pattern-attachment-img">
      <img data-src="{{ index .Site.Params.headertop.bgurls 0 }}" class="lazyload" onerror="imgError(this,3)" style="width: 100%; height: 100%; object-fit: cover; pointer-events: none;">
    </div>
    <header class="pattern-header">
      <h1 class="cat-title">{{ .Title }}</h1>
      <span class="cat-des"><p>英文title待实现</p></span>
    </header>
  </div>
<div id="content" class="site-content">
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
        {{ $paginator := .Paginate (.Pages) }}
        <!--  indexofpages文章在所有文章的位置 用于文章卡片图片的左右交替-->
        {{ range $page := $paginator.Pages }}
          {{ partial "widgets/categories/category-post-card.html" $page }}
        {{ end }}
      <div class="clearer"></div>
    </main>
    <!-- 下一页按钮 -->
    {{ if and (gt $paginator.TotalPages 1) ($paginator.HasNext) }}
      <div id="pagination">
        <a href="{{ ($paginator.Next.URL) }}" class="">Previous</a>
      </div>
    {{ else }}
      <div id="pagination"> 很高兴你翻到这里，但是真的没有了...</div>
    {{ end }}
  </div>
</div>
{{ end }}