<article class="post post-list" itemscope="" itemtype="https://schema.org/BlogPosting">
    <div class="post-entry">
      <div class="feature">
        <a href="{{ .Permalink }}">
          <div class="overlay">
            <i class="iconfont icon-text">
            </i>
          </div>
          <img width="150" height="150" 
            src="{{- with .Params.image -}}
                    {{- . -}}
                {{- else -}}
                    {{- .Site.Params.postpage.defaultPostImg -}}
                {{- end -}}" 
            class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" >
        </a>
      </div>
      <h1 class="entry-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      <div class="p-time">
        <i class="iconfont icon-time"></i>
        {{- .Date | time.Format ":date_medium" -}}
        {{- .Date | time.Format ":time_short" -}} 
      </div>
      <p>{{ .Description }}</p>
      <footer class="entry-footer">
        <div class="post-more">
          <a href="{{ .Permalink }}">
            <i class="iconfont icon-caidan">
            </i>
          </a>
        </div>
      </footer>
    </div>
    <hr>
  </article>